syntax: glob # for hg-git users
Makefile
Makefile.in
configure
libtool
config
config.status
config.log
aclocal.m4
autom4te.cache
*.o
*.gcno
*.ncb
*.lo
*.loT
*.la
*.html
*.pdf
*.ps
.*
*~
.*~
tests/pair_inproc
tests/pair_ipc
tests/pair_tcp
tests/reqrep_inproc
tests/reqrep_ipc
tests/reqrep_tcp
tests/shutdown_stress
tests/hwm
tests/timeo
tests/reqrep_device
tests/reqrep_drop
tests/sub_forward
tests/invalid_rep
tests/msg_flags
tests/reconnect
tests/linger
tests/max_sockets
tests/reentrant
src/platform.hpp*
src/stamp-h1
perf/local_lat
perf/local_thr
perf/remote_lat
perf/remote_thr
perf/inproc_lat
perf/inproc_thr
doc/*.1
doc/*.3
doc/*.7
doc/*.html
doc/*.xml
src/libxs.pc
bin/
lib/
obj/
builds/msvc/*.suo
builds/msvc/*/*.user
builds/msvc/*/Debug
builds/msvc/*/Release
foreign/openpgm/*
!foreign/openpgm/*.tar.bz2
!foreign/openpgm/*.tar.gz
!foreign/openpgm/Makefile.am
libxs-*.tar.gz
libxs-*.zip
